@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #18181B;
}
.scrollbar-hide, .category-scroll {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scrollbar-hide::-webkit-scrollbar,
.category-scroll::-webkit-scrollbar {
    display: none; /* WebKit */
}

  .scrollbar-stable {
    scrollbar-gutter: stable;
  }
  